body {
    color: #777;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}


.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

.content-table {
    width: 100%;
}

#albums {
	border
}

td.icon {
	width: 5px;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (min-width: 48em) {


}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
}
