.active-track {
    font-weight: bold;
	color: #CC0000;
}

*:focus {
    outline: none;
}

#theheader {
	font-size: 1.3em;
	padding: 0.5em;
}

.headerplaylist {
	float: right;
	margin-right: 1em;
}
.headercontrol {
	float: left;
}

#footerlink {
	float: right;
}

a {
	cursor: pointer;
}
