/*
.mytableheader {
   position: fixed;
   top: 0;
}
*/


.active-track {
    font-weight: bold;
	color: #CC0000;
}

*:focus {
    outline: none;
}

.headerplaylist {
	float: right;
}
.headercontrol {
	float: left;
}
